<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-if</title>
	<script src="../vue/vue2.0.js"></script>
</head>
<body>
	<div id="app">
        <!--根据bool的值来判断是否显示-->
        <!--<div v-if="bool">-->
            <!--显示我的信息-->
        <!--</div>-->
        <!--<div v-else>-->
            <!--隐藏我-->
        <!--</div>-->

        <!--v-else-if-->
        <!--<div v-if="bool">-->
            <!--条件语句一-->
        <!--</div>-->
        <!--<div v-else-if="bool1">-->
            <!--条件语句二-->
        <!--</div>-->
        <!--<div v-else>-->
            <!--条件语句三-->
        <!--</div>-->
        <!--v-show来显示控制是否显示元素-->
        <div v-show="bool1">我是显示的</div>

    </div>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                bool:false,
                bool1:true
            }
        });

    </script>
</body>
</html>