<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue组件之间传值</title>
    <script src="../vue/vue2.0.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        <person v-bind:message="message"></person>

        <!--模板的循环-->
        <ul>
            <data_list v-for="list in lists" v-bind:message="list"></data_list>
        </ul>

    </div>
    <script>
        Vue.component('person',{
            props:['message'],
            template:"<div>{{message}}</div>"
        });
        Vue.component('data_list',{
            props:['message'],
            template:"<li>{{message}}</li>"
        });
        var vm = new Vue({
            el:'#app',
            data:{
                message:'hello',
                lists:['apple','banana','orange']
            }
        });
    </script>
</body>
</html>